<footer class="footer">
	<p class="pull-right"><a href="#">Back to top</a></p>
	<p>Fait par Gloorian (&amp; Trent), hébergé par Trent. Propulsé par <a href="http://nodejs.org/">node.js</a>, <a href="http://obvious.github.com/matador">matador</a> et <a href="http://twitter.github.com/bootstrap/">Bootstrap from Twitter</a>. Logo de <a href="https://www.facebook.com/profile.php?id=1619317630&ref=ts">Nathan LeBras</a></p>
	<!-- Médias Sociaux -->

	<div class="fb-like" data-layout="button_count" data-width="150" data-show-faces="true"></div>
	<div id="fb-root"></div>
	<script type="text/javascript">/*<![CDATA[*/
	(
		function(d, s, id)
		{
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=112672818755296";
			fjs.parentNode.insertBefore(js, fjs);
		}
		(document, 'script', 'facebook-jssdk')
	);
	/*]]>*/</script>

</footer>
