html
{
	background: url("/images/password/bois.jpg")
}
body
{
	margin: 50px auto;
	width: 700px;
	background: white;
	background-image: url("/images/password/border-top.png"), url("/images/password/border-bottom.png"), url("/images/password/background.jpg");
	background-position: top left, bottom left, bottom left;
	background-repeat: repeat-x, repeat-x, repeat-x;
	padding: 10px;
	box-shadow: 8px 8px 25px black
	/*-o-transform: rotate(355deg)*/
}
a
{
	color: blue;
	text-decoration: none
}
p
{
	text-align: justify
}
h1.logo
{
	text-align: center
}
h1.logo span
{
	content: url("/images/password/logolabs.png");
}

div.formulaire
{
	text-align: center
}
div.formulaire input[type="text"], div.formulaire input[type="password"], div.formulaire textarea
{
	display: inline-block;
	width: 500px;
	padding: 10px;
	height: 15px;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.102);
	border-radius: 3px;
	border: 1px solid gray;
	margin: 5px 0
}
/*div.formulaire div.confirmation
{
	width: 600px;
	margin: 0 auto
}
div.formulaire div.confirmation input[type="password"]
{
	float: left;
	margin-left: 39px
}
div.formulaire div.confirmation input:nth-child(2)
{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-left: 5px
}
div.formulaire div.confirmation label
{
	background: lightgray;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	line-height: 15px;
	height: 15px;
	margin: 5px 0;
	overflow: hidden;
	display: block;
	float: left
}*/
div.formulaire input[type="password"]
{
	width: 235px
}
div.formulaire input[type="text"]:focus,
div.formulaire input[type="password"]:focus,
div.formulaire textarea:focus
{
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.102), 0px 0px 8px rgba(82, 168, 236, 0.6);
	border: 1px solid rgb(82, 168, 236)
}

div.formulaire div.generate
{
	margin: 0 auto;
	width: 600px
}
div.formulaire div.generate:after
{
	display: block;
	content: "sandwich";
	clear: both;
	visibility: hidden
	/*height: 0;
	overflow: hidden*/
}
div.formulaire div.generate input[type="text"]
{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	display: block;
	float: left;
	background: lightgray
}
div.formulaire div.generate input.success
{
	border: 1px solid green;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.102), 0px 0px 8px rgba(50, 168, 50, 0.6);
	background: white
}
div.formulaire input.error
{
	border: 1px solid red !important;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.102), 0px 0px 8px rgba(168, 50, 50, 0.6);
	background: white
}
div.formulaire div.generate label
{
	background: lightgray;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding: 10px;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	line-height: 15px;
	height: 15px;
	margin: 5px 0;
	overflow: hidden;
	display: block;
	float: left
}
div.formulaire div.generate label.checked
{
	background: #46a546;
	border-left: 1px solid green;
	border-top: 1px solid green;
	border-bottom: 1px solid green
}
div.formulaire div.generate label.checked + input
{
	font-size: 0;
	color: white
}

div.formulaire button
{
	display: inline-block;
	width: 500px;
	padding: 10px;
	margin: 10px
}

div.copy
{
	font-size: 10px;
	text-align: center
}

/*** Googlê Navigation ***/
div.navigation
{
	background-color: #222222;
	background-image: -o-linear-gradient(top, rgb(51, 51, 51), rgb(34, 34, 34));
	background-image: -webkit-linear-gradient(top, rgb(51, 51, 51), rgb(34, 34, 34));
	background-image: -moz-linear-gradient(top, rgb(51, 51, 51), rgb(34, 34, 34));
	line-height: 40px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.251), inset 0px -1px 0px rgba(0, 0, 0, 0.102);
	position: absolute;
	top: 0;
	left: 0;
	right: 0
}
div.navigation ul
{
	margin: 0 auto;
	width: 940px
}
div.navigation ul li
{
	display: inline-block;
	margin: 0 10px 0 0;
	color: white;
	cursor: pointer
}
div.navigation ul li a
{
	color: #bfbfbf;
	text-decoration: none
}
div.navigation ul li h1
{
	font-weight: normal;
	font-size: 1em;
	margin: 0 10px 0 0;
	display: inline-block
}
div.navigation ul li h1 a
{
	color: white
}
div.navigation li.langue
{
	float: right
}
