<header class="jumbotron subhead">
	<div id="logo" style="background: transparent url('img/app.png'); margin : 0 auto; height: 150px; width: 242px;"></div>
	<p class="lead">
		Bienvenue à {{title}}, un site/vitrine des applications que l'on peut réaliser avec Node.js. À l'heure actuelle, il en regroupe quatre: un réducteur d'url, un hébergeur de fichiers, un générateur de mots de passe sécurisés et un hébergeur de code.
	</p>
</header>
<div class="row">
	<div class="span4">
		<h2>Node.js</h2>
		<p>
			Ce site est entièrement fait à l'aide de <a href="http://nodejs.org">Node.js</a>, une API qui permet l'utilisation de javascript côté serveur. Node.js est un "equivalent" de Apache et PHP qui est orientée requêtes asynchrones. Bien que Node.js soit en général plutôt préféré pour les applications en temps réel, son utilisation pour des applications classiques est tout aussi simple.
		</p>
	</div>
	<div class="span4">
		<h2>Modules</h2>
		<p>
			Les modules utilisés pour réaliser ce site sont en majorité <a href="http://obvious.github.com/matador">Matador</a>, un framework pour Node.js auquel j'ai attribué mon organisation MVC, <a href="https://github.com/felixge/node-mysql">Mysql</a>, un module afin de gérer la base de donnée et <a href="http://twitter.github.com/hogan.js/">Hogan.js</a>, un moteur de template inspiré de Mustache.
		</p>
	</div>
	<div class="span4">
		<h2>Librairies et Framework</h2>
		<p>
			Les librairies utilisées côté client sont <a href="http://mootools.net">Mootools</a>, une librairie permettant la gestion simple du DOM, des requêtes AJAX (voir le réducteur d'url) et des transitions CSS, et enfin <a href="http://twitter.github.com/bootstrap">Bootstrap</a> de Twitter, un framework HTML/CSS qui m'a permis de faire le design de ce site web très simplement.
		</p>
	</div>
</div>
